<% if user_signed_in? %>
  <% if current_user == user %>
    <%= link_to edit_user_path(user) do %>
      <p><i class="fas fa-user-cog fa-2x"></i>  ユーザー情報変更</p>
    <% end %>
  <% else %>
    <% if Relation.find_by(followed_id: user.id) %>
      <%= link_to user_relation_path(user.id),method: :delete, remote: true do %>
        <p><i class="fas fa-user-slash fa-2x"></i>  フォローをやめる</p>
      <% end %>
    <% else %>
      <%= link_to user_relation_path(user.id),method: :post, remote: true do %>
        <p><i class="fas fa-user-friends fa-2x"></i>  フォローする</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="follow">
  <ul>
    <li><%= link_to "フォロワー",user_followers_path(user.id) %> <%= user.followers.count%> 人</li>
    <li><%= link_to "フォロー中",user_followings_path(user.id) %> <%= user.followings.count%> 人</li>
  </ul>
</div>