<% if user_signed_in? %>
  <% if current_user == user %>
    <ul class="user-menu">
      <li class="item">
          <p class="title">Menu　<i class="fas fa-bars"></i></p>
          <ul class="child">
            <li>
              <%= link_to "プロフィール編集",edit_user_path(user) %>
            </li>
            <li>
              <%= link_to "My Gear", user_items_path(user) %>
            </li>
            <li>
              <%= link_to "My Photo", user_path(user, choose: "mine") %>
            </li>
            <li>
              <%= link_to "My Plan", user_plans_path(user) %>
            </li>
            <li>
              <%= link_to "ブックマーク", user_path(user, choose: "bookmark") %>
            </li>
            <li>
              <%= link_to "下書き一覧", user_path(user, choose: "draft") %>
            </li>
          </ul>
      </li>
    </ul>
  <% else %>
    <% if Relation.find_by(follower_id: current_user.id, followed_id: user.id) %>
      <%= link_to user_relation_path(user.id),method: :delete, remote: true do %>
        <p><i class="fas fa-user-slash fa-2x"></i>  フォローをやめる</p>
      <% end %>
    <% else %>
      <%= link_to user_relation_path(user.id),method: :post, remote: true do %>
        <p><i class="fas fa-user-friends fa-2x"></i>  フォローする</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="follow">
  <ul>
    <li><%= link_to "フォロワー",user_followers_path(user.id) %> <%= user.followers.count%> 人</li>
    <li><%= link_to "フォロー中",user_followings_path(user.id) %> <%= user.followings.count%> 人</li>
  </ul>
</div>

