<div class="consultation-container">
  <div class="consultation-body">
    <div class="consultation-left">
      <div class="consultation-left__post">
        <% if user_signed_in? %>
          <%= link_to new_consultation_path do %>
            <div class="consultation-left__post__link">
              <i class="far fa-paper-plane"></i>
              <p>相談を投稿する</p>
            </div>
          <% end %>
          <% if current_user.active_user? %>
            <%= link_to consultations_path(user_id: current_user.id) do %>
              <div class="consultation-left__post__link">
                <i class="fas fa-user"></i>
                <p>My 相談</p>
              </div>
            <% end %>
          <% else %>
            <%= link_to confirm_user_path(current_user) do %>
              <div class="consultation-left__post__link">
                <i class="fas fa-user"></i>
                <p>My 相談</p>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="consultation-left__post__link">
              <i class="far fa-paper-plane"></i>
              <p>相談を投稿する</p>
            </div>
          <% end %>
          <%= link_to new_user_session_path do %>
            <div class="consultation-left__post__link">
              <i class="fas fa-user"></i>
              <p>My 相談</p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="consultation-left__genre">
        <h5>カテゴリー検索</h5>
        <%= link_to consultations_path(genre: 0) do %>
          <div class="consultation-left__genre__list">
            <i class="fas fa-campground"></i>
            <p>キャンプ場</p>
          </div>
        <% end %>
        <%= link_to consultations_path(genre: 1) do %>
          <div class="consultation-left__genre__list">
            <i class="fas fa-hammer"></i>
            <p>キャンプ道具</p>
          </div>
        <% end %>
        <%= link_to consultations_path(genre: 2) do %>
          <div class="consultation-left__genre__list">
            <i class="fas fa-utensils"></i>
            <p>キャンプ料理</p>
          </div>
        <% end %>
        <%= link_to consultations_path(genre: 3) do %>
          <div class="consultation-left__genre__list">
            <i class="fas fa-infinity"></i>
            <p>その他</p>
          </div>
        <% end %>
      </div>
      <div class="consultation-left__search">
        <h5>キーワード検索</h5>
        <%= render "search-form", keyword: @keyword %>
      </div>
    </div>
    <div class="consultation-center">
      <div class="consultation-center__label">
        <% if @list == 0 %>
          <div class="mine">
            <h3><i class="fas fa-user"></i> My 相談</h3>
            <div class="select-list">
              <%= form_with url: consultations_path, method: :get, local: true do |f| %>
                <%= f.select :sort, [["新しい順", "new"], ["古い順", "old"], ["閲覧数が多い順", "look"], ["役に立った！が多い順", "helpfulness"]], selected: params[:sort] %>
                <%= hidden_field_tag :user_id, current_user.id %>
              <% end %>
            </div>
          </div>
        <% else %>
          <ul>
            <li class="consultation-center__label-list1">
              <%= link_to consultations_path(list: 1, genre: @genre) do %>
                <% if @list == 1  || @list == nil %>
                  <p class="border border-secondary bg-white"><i class="fas fa-praying-hands"></i>新着相談</p>
                <% else %>
                  <p class="border"><i class="fas fa-praying-hands"></i>新着相談</p>
                <% end %>
              <% end %>
            </li>
            <li class="consultation-center__label-list2">
              <%= link_to consultations_path(list: 2, genre: @genre) do %>
                <% if @list == 2 %>
                  <p class="border border-secondary bg-white"><i class="far fa-laugh"></i>閲覧数</p>
                <% else %>
                  <p class="border"><i class="far fa-laugh"></i>閲覧数</p>
                <% end %>
              <% end %>
            </li>
            <li class="consultation-center__label-list3">
              <%= link_to consultations_path(list: 3, genre: @genre) do %>
                <% if @list == 3 %>
                  <p class="border border-secondary bg-white"><i class="far fa-thumbs-up"></i>役立った！</p>
                <% else %>
                  <p class="border"><i class="far fa-thumbs-up"></i>役立った！</p>
                <% end %>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="consultation-center__list">
        <ul>
          <% if @consultations.size == 0 %>
            <li><h4>相談はありません</h4></li>
          <% else %>
            <% @consultations.each do |consultation| %>
              <li>
                <div class="consultation-center__list__left">
                  <% if consultation.genre == "キャンプ場" %>
                    <div class="icon"><i class="fas fa-campground"></i></div>
                    <div class="genre"><%= consultation.genre %></div>
                  <% elsif consultation.genre == "キャンプ道具" %>
                    <div class="icon"><i class="fas fa-hammer"></i></div>
                    <div class="genre"><%= consultation.genre %></div>
                  <% elsif consultation.genre == "キャンプ料理" %>
                    <div class="icon"><i class="fas fa-utensils"></i></div>
                    <div class="genre"><%= consultation.genre %></div>
                  <% elsif consultation.genre == "その他" %>
                    <div class="icon"><i class="fas fa-infinity"></i></div>
                    <div class="genre"><%= consultation.genre %></div>
                  <% end %>
                </div>
                <div class="consultation-center__list__right">
                  <%= link_to consultation_path(consultation) do %>
                    <div class="title">&emsp;<%= consultation.title %></div>
                  <% end %>
                  <div class="body">
                    <ul>
                      <li class="answer"><p><i class="far fa-comment-dots"></i> <%= consultation.consultation_answers.count%></p></li>
                      <li class="look"><p><i class="fas fa-eye"></i> <%= consultation.impressions_count %></p></li>
                      <li class="good"><p><i class="fas fa-thumbs-up"></i> <%= consultation.helpfulnesses.count %></p></li>
                      <% if consultation.anonymity == true %>
                        <li class="user">
                          <%= image_tag "no_image.jpeg", class: "user-icon rounded-circle" %>
                          <p>匿名さん</p>
                        </li>
                      <% else %>
                        <li class="user">
                          <%= attachment_image_tag consultation.user, :profile_image, fallback: "no_image.jpg", class: "user-icon rounded-circle" %>
                          <%= link_to user_path(consultation.user) do %>
                            <%= consultation.user.name %>
                          <% end %>
                        </li>
                      <% end %>
                      </li>
                      <li class="time"><%= consultation.set_date %></li>
                    </ul>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="consultation-center__page">
        <%= paginate @consultations %>
      </div>
    </div>
    <div class="consultation-right">
      <div class="ranking">
        <div class="title">
          <h4>Contribute Rank</h4>
        </div>
        <div class="period">
          <ul>
            <% if @period == "week" || @period == nil %>
              <li>週間</li>
              <li class="border border-secondary bg-white"><%= link_to "月間", consultations_path(period: "manth") %></li>
              <li class="border border-secondary bg-white"><%= link_to "全て", consultations_path(period: "all") %></li>
            <% elsif @period == "manth" %>
              <li class="border border-secondary bg-white"><%= link_to "週間", consultations_path(period: "week") %></li>
              <li>月間</li>
              <li class="border border-secondary bg-white"><%= link_to "全て", consultations_path(period: "all") %></li>
            <% elsif @period == "all" %>
              <li class="border border-secondary bg-white"><%= link_to "週間", consultations_path(period: "week") %></li>
              <li class="border border-secondary bg-white"><%= link_to "月間", consultations_path(period: "manth") %></li>
              <li>全て</li>
            <% end %>
          </ul>
        </div>
        <ul class="list">
          <% @ranks.each.with_index(1) do |rank, i| %>
            <li>
              <div class="icon">
                <% if i < 4 %>
                  <i class="fas fa-medal"></i>
                <% else %>
                  <p><%= i %></p>
                <% end %>
              </div>
              <div class="user">
                <%= attachment_image_tag rank, :profile_image, size: "20x20", fallback: "no_image.jpg", class: "user-icon rounded-circle" %>
                <%= rank.name %>
              </div>
              <div clss="count">
                <i class="fas fa-thumbs-up"></i>
                <% if @period == "week" || @period == nil %>
                  <%= Helpfulness.where(consultation_answer_id: rank.consultation_answer_ids, created_at: Time.current.all_week).count %>
                <% elsif @period == "manth" %>
                  <%= Helpfulness.where(consultation_answer_id: rank.consultation_answer_ids, created_at: Time.current.all_month).count %>
                <% elsif @period == "all" %>
                  <%= Helpfulness.where(consultation_answer_id: rank.consultation_answer_ids).count %>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
