<div class="consultation-container">
  <div class="consultation-body">
    <div class="consultation-left"></div>
    <div class="consultation-center">
      <div class="consultation-center__sort"></div>
      <div class="consultation-center__label">
        <ul>
          <li class="consultation-center__label-list1">
            <%= link_to consultations_path(list: 1) do %>
              <% if @list == 1  || @list == nil %>
                <p class="border border-dark"><i class="fas fa-praying-hands"></i>新着相談</p>
              <% else %>
                <p class="border border-light"><i class="fas fa-praying-hands"></i>新着相談</p>
              <% end %>
            <% end %>
          </li>
          <li class="consultation-center__label-list2">
            <%= link_to consultations_path(list: 2) do %>
              <% if @list == 2 %>
                <p class="border border-dark"><i class="far fa-laugh"></i>閲覧数</p>
              <% else %>
                <p class="border border-light"><i class="far fa-laugh"></i>閲覧数</p>
              <% end %>
            <% end %>
          </li>
          <li class="consultation-center__label-list3">
            <%= link_to consultations_path(list: 3) do %>
              <% if @list == 3 %>
                <p class="border border-dark"><i class="far fa-thumbs-up"></i>役立った！</p>
              <% else %>
                <p class="border border-light"><i class="far fa-thumbs-up"></i>役立った！</p>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="consultation-center__list">
        <ul>
          <% @consultations.each do |consultation| %>
            <li>
              <div class="consultation-center__list__left">
                <% if consultation.genre == "キャンプ場" %>
                  <div class="icon"><i class="fas fa-campground"></i></div>
                  <div class="genre"><%= consultation.genre %></div>
                <% elsif consultation.genre == "キャンプ道具" %>
                  <div class="icon"><i class="fas fa-hammer"></i></div>
                  <div class="genre"><%= consultation.genre %></div>
                <% elsif consultation.genre == "キャンプ料理" %>
                  <div class="icon"><i class="fas fa-utensils"></i></div>
                  <div class="genre"><%= consultation.genre %></div>
                <% elsif consultation.genre == "その他" %>
                  <div class="icon"><i class="fas fa-infinity"></i></div>
                  <div class="genre"><%= consultation.genre %></div>
                <% end %>
              </div>
              <div class="consultation-center__list__right">
                <%= link_to consultation_path(consultation) do %>
                  <div class="title">&emsp;<%= consultation.title %></div>
                <% end %>
                <div class="body">
                  <ul>
                    <li class="answer"><p><i class="far fa-comment-dots"></i> <%= consultation.consultation_answers.count%></p></li>
                    <li class="look"><p><i class="fas fa-eye"></i> <%= consultation.impressions_count %></p></li>
                    <li class="good"><p><i class="far fa-thumbs-up"></i> <%= consultation.helpfulnesses.count %></p></li>
                    <% if consultation.anonymity == true %>
                      <li class="user">
                        <%= image_tag "no_image.jpeg", class: "user-icon rounded-circle" %>
                        <p>匿名さん</p>
                      </li>
                    <% else %>
                      <li class="user">
                        <%= attachment_image_tag consultation.user, :profile_image, fallback: "no_image.jpg", class: "user-icon rounded-circle" %>
                        <%= link_to user_path(consultation.user) do %>
                          <%= consultation.user.name %>
                        <% end %>
                      </li>
                    <% end %>
                    </li>
                    <li class="time"><%= consultation.set_date %></li>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="consultation-center__page"><%= paginate @consultations %></div>
    </div>
    <div class="consultation-right">
      <div class="ranking">
        <div class="title">
          <h4>Contribute Rank</h4>
        </div>
        <div class="list">
          <% @ranks.each do |rank| %>
            <div class="icon">
              <i class="fas fa-medal"></i>
            </div>
            <div class="user">
              <%= attachment_image_tag rank, :profile_image, size: "20x20", fallback: "no_image.jpg", class: "user-icon rounded-circle" %>
              <%= rank.name %>
            </div>
            <div clss="count">
              <%= Helpfulness.where(consultation_answer_id: rank.consultation_answer_ids).count %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
