<% if @consultation.anonymity == true %>
  <h4>匿名さんからの相談</h4>
<% else %>
  <h4><%= @consultation.user.name %>さんからの相談</h4>
<% end %>
<div>タイトル：<%= @consultation.title %></div>
<div>内容：<%= @consultation.content %></div>
<div><%= attachment_image_tag @consultation, :consultation_image, size: "400x400" %></div>

<h3>回答</h3>
<div>
  <%= render "consultation_answers/form", consultation: @consultation, consultation_answer: @consultation_answer %>
</div>
<div id="consultation_answer_index">
  <%= render "consultation_answers/index", consultation: @consultation, consultation_answers: @consultation_answers %>
</div>
</div>


