<div class="profile">
  <div class="profile__left">
    <div class="profile__left__top">
      <h2>Profile <i class="fas fa-id-card"></i></h2>
      <%= attachment_image_tag user, :profile_image, size: "300x300", fallback: "no_image.jpg"  %>
    </div>
    <div class="profile__left__bottom">
      <div id = "relation">
        <%= render "relations/follow", user: user %>
      </div>
    </div>
  </div>
  <div class="profile__right">
    <h3>Name</h3>
    <h5><%= user.name %></h5>
    <h3>Introduction</h3>
    <%if user.introduction.nil? %>
      <p><%=user.introduction%></p>
    <% else %>
      <p><%=safe_join(user.introduction.split("\n"),tag(:br))%></p>
    <% end %>
  </div>
</div>

