<div class="profile-container">
  <% if @user.active_user? %> <%# 正規ユーザーでなければプロフィールを見れない%>
    <%= render "profile", user: @user %>
    <div class="posts">
      <% if @title == "mine" %>
      <div class="posts__header">
        <h2 class="posts__header__title">My Photo  <i class="fas fa-camera"></i></h2>
        <% if @user == current_user %>
          <div class="posts__header__post">
            <%= link_to new_photo_post_path do %>
              写真投稿 <i class="fas fa-plus-square"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="posts__select">
        <%= form_with url: user_path(@user), method: :get, local: true do |f| %>
          <%= f.select :sort, [["新しい順", "new"], ["古い順", "old"], ["いいねが多い順", "favorite"]], selected: params[:sort] %>
        <% end %>
      </div>
      <% elsif @title == "bookmark" %>
        <h2 class="posts-title">ブックマーク <i class="fas fa-bookmark"></i></h2>
      <% elsif @title == "draft" %>
        <h2 class="posts-title">下書き <i class="fas fa-edit"></i></h2>
      <% end %>
      <%= render "photo_posts/index", photo_posts: @photo_posts%>
    </div>
  <% elsif @user.status == "退会" %>
    <h1 class="negative">このユーザーは退会しています。</h1>
  <% elsif @user.status == "垢BAN" %>
    <h1 class="negative">このユーザーはアカウントの利用を停止されています。</h1>
  <% end %>
</div>

