<div class="photo-area">
  <p class="photo-place"><i class="fas fa-map-marker-alt"></i>&ensp; 仲良しキャンプ場</p>
<% if photo_post.post_images.count > 1 %>
  <div class="slider">
<% else %>
  <div class="slider__solo">
<% end %>
    <% photo_post.post_images.each do |image| %>
      <%= attachment_image_tag image, :image %>
    <% end %>
  </div>
  <div class="photo-area__under">
    <div id="photo_post_favorite">
      <%= render "favorites/favorite", photo_post: photo_post %>         <%#　いいね　%>
    </div>
    <div id="photo_post_bookmark">
      <%= render "bookmarks/bookmark", photo_post: photo_post %>         <%#　ブックマーク　%>
    </div>
    <div id="photo_post_comment">
      <% if photo_post.preview == false %>
        <% if controller.controller_name == "photo_post_comments" %>
          <%= link_to photo_post_path(photo_post) do %>
            <i class="far fa-file-alt"></i>
          <% end %>
        <% else %>
          <%= link_to new_photo_post_photo_post_comment_path(photo_post) do %>
            <i class="far fa-comment-dots"></i>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-comment-dots"></i>
      <% end %>
    </div>
    <div class="post-day">
      <% if photo_post.preview == false %>
        <%= photo_post.created_at.strftime("%Y / %m / %d").to_s %>
      <% else %>
        <p>投稿日が入ります</p>
      <% end %>
    </div>
  </div>
</div>