<div class="profile-container">
  <%= render "users/profile", user: @user %>
  <div class="posts">
    <h2>投稿編集フォーム  <i class="fas fa-file-upload"></i></h2>
    <div class="form-area">
      <%= form_with model: @photo_post, local: true do |f| %>
      <% if @photo_post.preview == true %>　<%# 下書き・プレビュー状態か%>
      　<div class="edit-select"><%= f.select :genre,options_for_select(PhotoPost.genres.keys), include_blank: "カテゴリーを選択して下さい", class: "inp input1" %></div>
        <%= f.label :profile_image,"投稿写真（複数可）", class: "label" %>
        <%= f.attachment_field :post_images_images, multiple: true, class: "inp input2" %>
        <%= f.hidden_field :preview, value: "preview" %>    <%# 下書き・プレビュー状態か投稿済みのものかでupdateアクションの動きを分岐させるため%>
      <% else %>　<%# 投稿済みのものは写真は変更できない%>
        <strong><p>※投稿した写真は変更できません</p></strong>
      <% end %>
        <%= f.text_area :introduction, placeholder: " ---------------説明文を入力してください------------ -----改行も反映されます" , class: "inp input3"%>
        <%= f.label :place, "(任意) 場所", class: "label" %>
        <%= f.text_field :place, placeholder: "(例)　○○キャンプ場 , (例)ショップ△△店", class: "inp input4" %>
        <%= f.label :tag_list, "(任意) タグ", class: "label" %>
        <%= f.text_area :tag_list, value: @photo_post.tag_list.join(','), id: 'tags', placeholder: "--半角カンマ , で区切ってください----------------（例）キャンプ大好き,ソロキャンプ,キャンプ仲間募集", class: "inp input5"  %>
        <%= f.button :type => "submit", style: 'border-style: none;', class: "inp input6" do %>
          <% if @photo_post.preview == true %>
            <p>プレビューへ進む <i class="fas fa-angle-double-right"></i></p>
          <% else %>
            <p>更新する <i class="fas fa-angle-double-right"></i></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "ー 投稿を削除する ー", photo_post_path(@photo_post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "photo_post-destory" %>
