<div class="profile-container">
  <%= render "users/profile", user: @user %>
  <div class="posts">
    <h2>投稿編集フォーム  <i class="fas fa-file-upload"></i></h2>
    <%= render "layouts/error_messages", model: @photo_post %>
    <div class="form-area">
      <%= form_with model: @photo_post, local: true do |f| %>
      <% if @photo_post.preview == true %>　<%# 下書き・プレビュー状態か%>
        <p class="m-0">投稿写真 <span class="many">複数可</span></p>
        <%= f.attachment_field :post_images_images, multiple: true, class: "inp input2" %>
        <%= f.hidden_field :preview, value: "preview" %>    <%# 下書き・プレビュー状態か投稿済みのものかでupdateアクションの動きを分岐させるため%>
      <% else %>　<%# 投稿済みのものは写真は変更できない%>
        <strong><p>※投稿した写真は変更できません。</p></strong>
      <% end %>
        <%= f.text_area :introduction, class: "inp input3"%>
        <p class="m-0">カテゴリー</p>
        <%= f.select :genre,options_for_select(PhotoPost.genres.keys), class: "inp input1" %>
        <p class="m-0">場所 <span class="any">任意</span></p>
        <%= f.text_field :place, placeholder: "(例)　○○キャンプ場 , (例)ショップ△△店", class: "inp input4" %>
        <p class="m-0">タグ <span class="any">任意</span></p>
        <%= f.text_area :tag_list, value: @photo_post.tag_list.join(','), id: 'tags', placeholder: " 半角カンマ , で区切ってください\n（例）ソロキャンプ,キャンプ仲間募集", class: "inp input5"  %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
          <% if @photo_post.preview == true %>
            プレビューへ進む <i class="fas fa-angle-double-right"></i>
          <% else %>
            内容を更新する <i class="fas fa-angle-double-right"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "ー 投稿を削除する ー", photo_post_path(@photo_post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "photo_post-destory" %>
