<div class="select-container">
  <h1 class="text-center">Photo <i class="fas fa-camera"></i></h1>
  <h4 class="text-center pb-3">ー 見たい・見せたいを共有しよう ー</h4>
  <div class="genre">
    <%= form_with url: photo_posts_path, method: :get, local: true do |f| %>
      <%= f.select :genre, PhotoPost.genres.keys.to_a, include_blank: "全ての写真", selected: params[:genre], class: "select1" %>
      <%= f.select :type, [["新しい順", "new"], ["古い順", "old"],["いいねが多い順", "favorite"]], selected: params[:type], class: "select2"  %>
      <%= f.button :type => "submit", style: 'border-style: none;', class: "select3" do %>
        絞り込む <i class="fas fa-search-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div class="value">
  </div>
</div>
<div class="index-container">
  <div class="index-container__block">
    <% @photo_posts.each do |photo_post| %>
      <div class="contents">
        <div class="photo">
          <%= link_to photo_post_path(photo_post) do %>
            <% photo_post.post_images.first(1).each do |image| %>
              <% if image.photo_post.post_images.count > 1 %>
                <div class="photo__many">
                  <i class="far fa-clone"></i>
                </div>
              <% end %>
              <%= attachment_image_tag image, :image, size: "250x240" %>
              <div class="photo__background">
      		      <div class="photo__background__image"><i class="fab fa-instagram"></i></div>
      	      </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @photo_posts %>
</div>
