<div class="profile-container">
  <%= render "users/profile", user: @user %>
  <div class="posts">
    <h2>写真投稿フォーム  <i class="fas fa-camera"></i></h2>
    <%= render "layouts/error_messages", model: @photo_post %>
    <div class="form-area">
      <%= form_with model: @photo_post, local: true do |f| %>
        <p class="m-0">投稿写真 <span class="many">複数可</span></p>
        <%= f.attachment_field :post_images_images, multiple: true, class: "inp input2" %>
        <p class="m-0">説明</p>
        <%= f.text_area :introduction, placeholder: " 説明文を入力してください\n 改行も反映されます" , class: "inp input3"%>
        <p class="m-0">カテゴリー</p>
        <%= f.select :genre,options_for_select(PhotoPost.genres.keys), include_blank: "選択して下さい", class: "inp input1" %>
        <p class="m-0">タグ <span class="any">任意</span></p>
        <%= f.text_area :tag_list, value: @photo_post.tag_list.join(','), id: 'tags', placeholder: " 半角カンマ , で区切ってください\n（例）ソロキャンプ,キャンプ仲間募集", class: "inp input5"  %>
        <p class="m-0">場所 <span class="any">任意</span></p>
        <%= f.text_field :place, placeholder: "(例)　○○キャンプ場 , (例)ショップ△△店", class: "inp input4" %>
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
          プレビューへ進む <i class="fas fa-angle-double-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
