<div class="result">
  <% unless @keyword == nil %>
    <i class="fas fa-search"></i> <%= "' #{@keyword} ' の検索結果 - #{@photo_posts.ids.count}件" %>
  <% else %>
    <i class="fas fa-search"></i> <%= "' #{@tag} ' の検索結果 - #{@photo_posts.ids.count}件" %>
  <% end %>
</div>
<div class="index-container">
  <div class="index-container__block">
    <% @photo_posts.each do |photo_post| %>
      <div class="contents">
        <div class="photo">
          <%= link_to photo_post_path(photo_post) do %>
            <% photo_post.post_images.first(1).each do |image| %>
              <% if image.photo_post.post_images.count > 1 %>
                <div class="photo__many">
                  <i class="far fa-clone"></i>
                </div>
              <% end %>
              <%= attachment_image_tag image, :image, size: "250x240" %>
              <div class="photo__background">
      		      <div class="photo__background__image"><i class="fab fa-instagram"></i></div>
      	      </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @photo_posts %>
</div>