<div>
  <div>
    <%= link_to user_path(@photo_post.user) do %>
      <%= attachment_image_tag @photo_post.user, :profile_image, size: "20x20" %>
      <%= @photo_post.user.name %>
    <% end %>
  </div>
  <div>
    <%= attachment_image_tag @photo_post, :photo_image, size: "500x500" %>
  </div>
  <div>
    <%= @photo_post.created_at.strftime("%Y年%m月%d日").to_s %>
  </div>
  <div>
    <div id="photo_post_favorite">
      <%= render "favorites/favorite", photo_post: @photo_post %>
    </div>
  </div>
  <div>
    <div id="photo_post_bookmark">
      <%= render "bookmarks/bookmark", photo_post: @photo_post %>
    </div>
  </div>
</div>
<h3>コメント</h3>
<div>
  <%= form_with(model:[@photo_post, @photo_post_comment], url: photo_post_photo_post_comments_path(@photo_post, @photo_post_comment), method: :post, local: true) do |f| %>
    <%= f.text_field :comment %>
    <%= f.submit "投稿する" %>
  <% end %>
</div>
<div>
  <table>
    <% @photo_post_comments.each do |photo_post_comment| %>
    <tr>
      <th>
        <%= link_to user_path(photo_post_comment.user) do %>
          <%= attachment_image_tag photo_post_comment.user, :profile_image, size: "20x20" %>
          <%= photo_post_comment.user.name %>
        <% end %>
      </th>
      <td>
        <%= photo_post_comment.comment %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
