<div class="infomation-new-container">
  <div class="infomation-new-container__header">
    <h2><i class="far fa-envelope"></i> お問い合わせフォーム</h2>
  </div>
  <div class="infomation-new-container__body">
    <%= form_with model: @infomation,local: true do |f| %>
      <div class="infomation-new-container__body__email">
        <p><%= f.label :email,"メールアドレス" %><span>必須</span></p>
        <p><%= f.email_field :email %></p>
      </div>
      <div class="infomation-new-container__body__name">
        <p><%= f.label :name,"お名前" %><span>必須</span></p>
        <p><%= f.text_field :name %></p>
      <div class="infomation-new-container__body__content">
        <p><%= f.label :content,"お問い合わせ内容" %><span>必須</span></p>
        <p><%= f.select :genre,options_for_select(Infomation.genres.keys), include_blank: "-選択して下さい-" %></p>
        <p><%= f.text_area :content, placeholder: " 本文" %></p>
      </div>
      <div class="infomation-new-container__body__button">
        <%= f.button :type => "submit", style: 'border-style: none;' do %>
          <p>問い合わせ送信</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>