<div class="admin_top-container__left__nav">
  <h3><i class="fas fa-user-shield"></i>管理者</h3>
  <p class="m-0"><i class="fas fa-history"></i>前回ログイン</p>
  <p><%= current_user.last_sign_in_at.strftime("%Y / %m / %d - %H: %M")%></p>
  <div class="admin_top-container__left__nav__list">
    <ul>
      <li>
        <%= link_to top_admin_users_path do %>
          <i class="fas fa-chart-bar"></i>トップ
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path do %>
          <i class="fas fa-users"></i>ユーザー
        <% end %>
      </li>
      <li>
        <%= link_to admin_photo_posts_path do %>
          <i class="fas fa-camera"></i>写真
        <% end %>
      </li>
      <li>
        <%= link_to admin_consultations_path do %>
          <i class="fas fa-comments"></i>相談
        <% end %>
      </li>
      <li>
        <%= link_to infomations_path do %>
          <i class="far fa-envelope"></i>問い合わせ
        <% end %>
      </li>
    </ul>
  </div>
</div>