<div class="plan_item-container">
  <div class="plan_item-container__header">
    <h1 class="text-center">キャンプ計画 <i class="fas fa-hiking"></i></h1>
  </div>
  <div class="plan_item-container__chart">

  </div>
  <div class="plan_item-container__content">
    <%= form_with(model:[@user, @plan], url: user_plans_path(@user), method: :post, local: true) do |f| %>
      <%= f.collection_check_boxes :item_ids, @items, :id, :name, include_hidden: false %>
      <%= f.hidden_field :title, :value => @plan.title %>
      <%= f.hidden_field :day, :value => @plan.day %>
      <%= f.hidden_field :place, :value => @plan.place %>
      <%= f.hidden_field :check_in_time, :value => @plan.check_in_time %>
      <%= f.hidden_field :check_out_time, :value => @plan.check_out_time %>
      <%= f.hidden_field :member, :value => @plan.member %>
      <%= f.hidden_field :memo, :value => @plan.memo %>
      <%= f.submit "ギアを登録する" %>
    <% end %>
  </div>
</div>

