<p class="m-0 plan-show-flash"><%= flash[:success] %></p>
<div class="plan-show-container">
  <div class="plan-show-container__header">
    <h1 class="text-center">CAMP PLAN <i class="fas fa-hiking"></i></h1>
  </div>
  <div class="plan-show-container__tab">
    <% if @tab == "plan" || @tab == nil %>
      <span class="plan-show-container__tab__plan bg-white text-center">PLAN <i class="fas fa-clipboard-list"></i></span>
      <%= link_to user_plan_path(@user, @plan, tab: "gear"), class: "plan-show-container__tab__gear" do %>
        <span>GEAR <i class="fas fa-hammer"></i></span>
      <% end %>
    <% elsif @tab == "gear" %>
      <%= link_to user_plan_path(@user, @plan, tab: "plan"), class: "plan-show-container__tab__plan" do %>
        <span>PLAN <i class="fas fa-clipboard-list"></i></span>
      <% end %>
      <span class="plan-show-container__tab__gear bg-white text-center">GEAR <i class="fas fa-hammer"></i></span>
    <% end %>
  </div>
  <div class="plan-show-container__content">
    <% if @tab == "plan" || @tab == nil %>
      <%= render "plan", user: @user, plan: @plan %>
    <% elsif @tab == "gear" %>
      <%= render "gear", user: @user, items: @items %>
    <% end %>
  </div>
</div>
<div class="plan-show-container__bottom">
  <div class="plan-show-container__bottom__edit">
    <%= link_to "スケジュール編集", schedule_edit_user_plan_path(@user, @plan), class: "btn btn-success"%>
    <%= link_to "ギア編集", item_edit_user_plan_path(@user, @plan), class: "btn btn-success"%>
    <%= link_to "計画を削除する", user_plan_path(@user, @plan), method: :delete, data: {confirm: "【確認】 削除しますか？"}, class: "btn btn-secondary" %>
  </div>
  <div class="plan-show-container__bottom__back">
    <%= link_to "一覧に戻る", user_plans_path(@user), class: "btn btn-primary"%>
  </div>
</div>