<nav>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% elsif user_signed_in? %>
    <%= link_to "マイページ", user_path(current_user) %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
    <%= link_to "PHPTOs", photo_posts_path %>
    <%= link_to "相談コーナー", top_consultations_path %>
    <%= render "layouts/search_form", keyword: @keyword %>
</nav>